@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: sans-serif;
    color: #354358;
    background-image: url('/images/workplace.jpg');
}

::-webkit-scrollbar-thumb{
    background-image:linear-gradient(to right bottom,#ffb6c1 ,#ffe4e1) ;
}

::-webkit-scrollbar{
    width: 8px;
    height: 0px;
}